@using SiteExpensesManagement.App.Contracts.ViewModels.Car
@model List<CarViewModel>


<h1 class="mb-3 text-center">Site sakinlerinin araçları</h1>

<table class="table table-striped table-active">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad Soyad</th>
            <th>Plaka Numarası</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CarViewModel car in Model)
        {
         <tr>
            <td>@car.Id</td>
            <td>@car.User.FirstName.ToUpper() @car.User.LastName.ToUpper()</td>
            <td>@car.LicencePlate</td>
            <td><a asp-action="Edit" asp-route-id="@car.Id" class="btn btn-warning">Güncelle</a></td>
            <td><a asp-action="Delete" asp-route-id="@car.Id" class="btn btn-danger">Sil</a></td>
        </tr>   
        }
    </tbody>
    <tfoot></tfoot>
</table>

<p>
    <a asp-action="Create" asp-controller="Cars" class="btn btn-success m-1">Yeni Araç Oluştur</a>
</p>
