@using SiteExpensesManagement.App.Contracts.Dtos.Apartments
@model ApartmentDuesDto

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Ay</th>
            <th>Yıl</th>
            <th>Ücret</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dues in Model.Dues)
        {
            <tr>
            <td>@dues.Month.ToString()</td>
            <td>@dues.Year</td>
            <td>@dues.Price <i class="fa-solid fa-turkish-lira-sign"></i></td>
                @if (@dues.IsPayed)
               {
                    <td class="text-success">ÖDENDİ</td>
                }
                else
                {
                    <td><a asp-action="Pay" asp-controller="Dues" asp-route-id="@dues.Id" class="btn btn-warning">Öde</a></td>
                }
            </tr>   
        }
    </tbody>
</table>