@using SiteExpensesManagement.App.Contracts.Dtos.Payments
@model PaymentForDuesDto

<link rel="stylesheet" src="~/css/payment.css"/>
<div class="row">
            <table class="table table-striped table-success text-center">
    <thead>
        <tr>
            <th>Apartman Numarası</th>
            <th>Blok</th>
            <th>Yıl</th>
            <th>Ay</th>
            <th>Tutar</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
            <tr>
            <td>@ViewBag.Dues.Apartment.ApartmentNo</td>
            <td>@ViewBag.Dues.Apartment.Block.ToString()</td>
            <td>@ViewBag.Dues.Year</td>
            <td>@ViewBag.Dues.Month.ToString()</td>
            <td>@ViewBag.Dues.Price <i class="fa-solid fa-turkish-lira-sign"></i></td>
                <td class="text-danger">ÖDENMEDİ</td>
            </tr>   
    </tbody>
    <tfoot></tfoot>
</table>

        </div>
<div class="container p-0">
    <div class="card px-4">
        
        <form asp-action="Pay" asp-controller="Dues" method="post">
        <p class="h8 py-3">Ödeme Detayları</p>
        <div class="row gx-3">
            <div class="col-12">
                <hr />
                <input type="hidden" asp-for="DuesId" value="@ViewBag.Dues.Id"/>
                <input type="hidden" asp-for="Amount" value="@ViewBag.Dues.Price"/>
            <div asp-validation-summary="All" class="text-danger"></div>
                <div class="d-flex flex-column">
                    <p class="text mb-1">Kart Üzerindeki İsim</p>
                    <input asp-for="CreditCard.NameOnCard" class="form-control mb-3" type="text" placeholder="Ad Soyad">
                    <span asp-validation-for="CreditCard.NameOnCard" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Kart Numarası</p>
                    <input asp-for="CreditCard.CardNumber" class="form-control mb-3" length="16" type="number" placeholder="1234 5678 435678">
                    <span asp-validation-for="CreditCard.CardNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Son Kullanma Ayı</p>
                    <input asp-for="CreditCard.ExpiryMonth" class="form-control mb-3" type="number" placeholder="MM">
                    <span asp-validation-for="CreditCard.ExpiryMonth" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Son kullanma Yılı</p> 
                    <input asp-for="CreditCard.ExpiryYear" class="form-control mb-3" type="number" placeholder="YYYY">
                    <span asp-validation-for="CreditCard.ExpiryYear" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex flex-column">
                    <p class="text mb-1">CVV/CVC</p>
                    <input asp-for="CreditCard.Cvv" class="form-control mb-3 pt-2" type="number" placeholder="000">
                    <span asp-validation-for="CreditCard.Cvv" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12">
                    <button type="submit" class="ps-3 mb-3 btn btn-primary">Öde  @if (!(ViewBag.Dues is null)) {@ViewBag.Dues.Price }<i class="fa-solid fa-turkish-lira-sign"></i></button>
                </div>
            <div class="col-12">
                @if(!(ViewBag.Card is null)){
                    <p>Kayıtlı Kartınız</p>
                         <input type="checkbox" class="form-control" text="wdwa"/> @ViewBag.Card.CardNumber
                        }
                </div>
        </div>
        </form>
    </div>
</div>
<script src="https://kit.fontawesome.com/7dd7b28160.js" crossorigin="anonymous"></script>