@using SiteExpensesManagement.App.Contracts.ViewModels.Message
@model List<MessageViewModel>
<h1 class="m-3">Mesajlarım</h1>
<table class="table table-striped table-active text-center">
    <thead>
        <tr>
            <th>Okunmuş</th>
            <th>Başlık</th>
            <th>İçerik</th>
            <th>Tarih</th>
            <th>Detay</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MessageViewModel message in Model)
        {
            <tr>
                <td>@if (message.HasRead)
                    {
                        <i class="fa-solid fa-check"></i>
                    }else
                    {
                        <i class="fa-solid fa-question"></i>
                    }
                </td>
            <td>@message.Header</td>
            <td>@message.Content.Substring(0,10)...</td>
            <td>
                
                @message.CreatedAt.ToString("dd:MM:yyyy")
                </td>
            <td><a asp-action="DetailsForSender" asp-route-id="@message.Id" class="btn btn-warning">Detay</a></td>
            <td><a asp-action="Delete" asp-route-id="@message.Id" class="btn btn-danger">Sil</a></td>
        </tr>   
        }
    </tbody>
    <tfoot></tfoot>
</table>

<a asp-action="Create" class="btn btn-success m-1">Mesaj Oluştur.</a>
<script src="https://kit.fontawesome.com/7dd7b28160.js" crossorigin="anonymous"></script>